/* Login */
$text-color: #0575e6;
$links: #99c7f4;

/* Navbar */
$navbar-start-color: #0676e6;
$navbar-end-color: #489cf0;
$dropdown-menu-text-color: #3891eb;
$dropdown-menu-bckgrd-hover-color: #0575e6;

/* Common */
$separator: #ddd;
$input-border: #979797;
$input-error: #a94442;