/* Login */
/* Navbar */
/* Common */
body * {
  font-family: 'Fira Sans', sans-serif; }

/* Theme Classes */
.login-background, #app.login, #app.login .container .blur-container .blur {
  background-image: linear-gradient(134.86deg, #0575E6 0%, #499DF1 100%), url(https://unsplash.it/g/1920/1080/?random);
  background-blend-mode: color; }

.center-center, #app.login {
  display: flex;
  align-items: center;
  justify-content: center; }

/* Common */
.title {
  color: #0575e6;
  border-left: 5px solid #0575e6;
  border-bottom: none; }

.panel {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); }

.btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 0;
  border: none; }
  .btn:hover {
    opacity: .8; }
  .btn.btn-default {
    background: transparent;
    opacity: .5;
    color: #f44336;
    box-shadow: none; }
    .btn.btn-default:hover {
      opacity: 1; }
  .btn.btn-primary {
    background-color: #0575e6; }
  .btn.btn-delete {
    color: #fff;
    background-color: #f44336; }

input[type=checkbox] {
  visibility: hidden; }

/* SQUARED ONE */
.squaredOne {
  position: relative;
  width: 18px;
  height: 18px;
  min-height: 18px !important;
  padding-left: 16px !important;
  background: #fcfff4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
  border: 1px solid #979797;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .squaredOne label {
    cursor: pointer;
    white-space: pre; }
    .squaredOne label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: #0575e6;
      top: 4px;
      left: 4px; }
    .squaredOne label:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3; }
  .squaredOne input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1; }

/* Element group */
.form-group label {
  color: #0575e6;
  font-size: 16px;
  font-weight: 500; }
.form-group input {
  border: 1px solid #979797;
  border-radius: 0; }
.form-group.has-error input.form-control {
  border: 1px solid #a94442; }

/* Error */
.has-error.has-feedback {
  /* Error List */
  /* Error Icon */ }
  .has-error.has-feedback .errors {
    padding-left: 15px; }
    .has-error.has-feedback .errors li {
      color: #ef4836; }
  .has-error.has-feedback .form-control-feedback {
    top: 30px; }

/* Pages */
/* Login */
#app.login {
  height: 100vh;
  /* Body */ }
  #app.login .container {
    /* Blur Container */ }
    #app.login .container .blur-container {
      position: relative;
      /* Blur */
      /* Panel */ }
      #app.login .container .blur-container .blur {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        margin: 0 auto;
        background-attachment: fixed;
        filter: blur(5px); }
      #app.login .container .blur-container .panel {
        width: 50%;
        margin: 0 auto;
        padding-top: 10px;
        filter: opacity(92%);
        /* Panel Header */
        /* Panel Body */ }
        #app.login .container .blur-container .panel .panel-heading {
          margin: 0 15px 10px 0;
          padding: 0 0 0 15px;
          border-bottom: none;
          border-radius: 0;
          border-left: 5px solid #0575e6;
          color: #0575e6;
          font-size: 24px;
          font-weight: 300; }
        #app.login .container .blur-container .panel .panel-body {
          padding-top: 0;
          /* Form */ }
          #app.login .container .blur-container .panel .panel-body form {
            padding-top: 15px;
            border-top: 1px solid #ddd;
            /* Checkbox */
            /* Button */ }
            #app.login .container .blur-container .panel .panel-body form .checkbox label {
              color: #99c7f4;
              font-size: 14px;
              font-weight: 300;
              line-height: 16px; }
            #app.login .container .blur-container .panel .panel-body form a {
              padding: 0;
              color: #99c7f4;
              font-size: 14px;
              font-style: italic;
              font-weight: 300;
              text-decoration: underline; }
            #app.login .container .blur-container .panel .panel-body form button.btn {
              padding: 6px 30px; }

/*# sourceMappingURL=theme.css.map */
