<template>
    <div class="help-block" :class="{'custom-error': valid}">
        <span v-for="error in errors">{{ error }}</span>
    </div>
</template>

<script>
    export default {
        props: ['valid', 'errors'],
    }
</script>