/* Variables */
/* Components */
.v-toolbar__content .v-avatar {
  width: 70px !important;
  height: unset !important; }

.v-card {
  width: 100%; }
  .v-card .v-card__title:after {
    content: '';
    width: 100%;
    margin: 16px auto 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .v-card .v-card__title .headline {
    margin-left: -16px;
    padding-left: 16px;
    border-left: 5px solid #1976d2; }
  .v-card .v-card__title .v-text-field {
    margin: 0;
    padding: 0; }
  .v-card .v-card__title .v-btn {
    margin: 0 8px; }

.v-dialog .v-card .v-card__title:after {
  content: '';
  width: 100%;
  margin: 16px auto 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
.v-dialog .v-card .v-card__title .headline {
  color: #1976d2; }
.v-dialog .v-card .v-input .v-label {
  color: #1976d2; }

form .help-block {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  form .help-block.custom-error {
    margin-top: -15px; }

.help-block {
  font-size: 12px;
  color: #ff5252; }

.v-datatable.v-table thead th.column {
  color: #1976d2;
  opacity: .54; }
  .v-datatable.v-table thead th.column.sortable:hover {
    color: #1976d2;
    opacity: .87; }
    .v-datatable.v-table thead th.column.sortable:hover .v-icon {
      color: #1976d2;
      opacity: .38; }
  .v-datatable.v-table thead th.column.active.sortable {
    color: #1976d2;
    opacity: .87; }
    .v-datatable.v-table thead th.column.active.sortable .v-icon {
      color: #1976d2;
      opacity: .87; }
.v-datatable.v-table .v-datatable__actions {
  color: #1976d2;
  opacity: .54; }
  .v-datatable.v-table .v-datatable__actions .v-text-field > .v-input__control > .v-input__slot:before {
    border-color: rgba(25, 118, 210, 0.42); }
  .v-datatable.v-table .v-datatable__actions .v-text-field > .v-input__control > .v-input__slot .v-select__selections {
    color: #1976d2;
    opacity: .87; }
  .v-datatable.v-table .v-datatable__actions .v-text-field > .v-input__control > .v-input__slot .v-icon {
    color: #1976d2;
    opacity: .54; }

.toasted-container {
  font-family: Roboto, sans-serif; }
  .toasted-container.top-right {
    top: 24px !important;
    right: 24px !important; }

/* Pages */
#profile-page .v-tabs__item {
  color: #000; }

/*# sourceMappingURL=theme.css.map */
