.v-card {
  width: 100%;

  .v-card__title {
    &:after {
      content: '';
      width: 100%;
      margin: 16px auto 0;
      border-bottom: 1px solid $separator;
    }

    .headline {
      margin-left: -16px;
      padding-left: 16px;
      border-left: 5px solid $primary-color;
    }

    .v-text-field {
      margin: 0;
      padding: 0;
    }

    .v-btn {
      margin: 0 8px;
    }
  }
}