<template>
    <v-app id="inspire">
        <!-- Navigation -->
        <v-navigation-drawer fixed :clipped="$vuetify.breakpoint.mdAndUp" app v-model="drawer">
            <v-list dense>
                <template v-for="item in items">
                    <!-- Header Item Menu -->
                    <v-layout row v-if="item.heading" align-center :key="item.heading">
                        <v-flex xs6>
                            <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
                        </v-flex>

                        <v-flex xs6 class="text-xs-center">
                            <a href="#!" class="body-2 black--text">EDIT</a>
                        </v-flex>
                    </v-layout>
                    <!-- Header Item Menu -->

                    <!-- Item w/ children Menu -->
                    <v-list-group v-else-if="item.children" v-model="item.model" :key="item.text"
                                  :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="">
                        <v-list-tile slot="activator" :to="item.url">
                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile v-for="(child, i) in item.children" :key="i" @click="">
                            <v-list-tile-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title>{{ child.text }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list-group>
                    <!-- Item w/ children Menu -->

                    <!-- Item Menu -->
                    <v-list-tile v-else @click="" :key="item.text" :to="item.url">
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <!-- Item Menu -->
                </template>
            </v-list>
        </v-navigation-drawer>
        <!-- Navigation -->

        <!-- Toolbar -->
        <v-toolbar color="blue darken-3" dark app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed>
            <!-- Menu -->
            <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <span class="hidden-sm-and-down">Pass Manager API</span>
            </v-toolbar-title>
            <!-- End Menu -->

            <v-spacer></v-spacer>

            <!-- Logo -->
            <router-link :to="{ name: 'home' }">
                <v-avatar tile>
                    <img src="/public/images/logo.png" width="70" alt="Logo">
                </v-avatar>
            </router-link>
            <!-- End Logo -->

            <v-spacer></v-spacer>

            <!-- User Options -->
            <v-menu bottom origin="center center" transition="scale-transition">
                <v-btn slot="activator" dark icon>
                    <v-icon>more_vert</v-icon>
                </v-btn>

                <v-list>
                    <!-- Options -->
                    <v-list-tile v-for="(item, i) in options" :key="i" @click="" :to="item.url">
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <!-- End Options -->

                    <!-- Logout -->
                    <v-list-tile @click="logout">
                        <v-list-tile-action>
                            <v-icon>exit_to_app</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>Logout</v-list-tile-title>
                            <form id="logout-form" action="/logout" method="POST" style="display: none">{{ csrf }}
                            </form>
                        </v-list-tile-content>
                    </v-list-tile>
                    <!-- End Logout -->
                </v-list>
            </v-menu>
            <!-- End User Options -->
        </v-toolbar>
        <!-- Toolbar -->

        <!-- Content-->
        <v-content>
            <v-container fluid fill-height>
                <v-layout>
                    <router-view></router-view>
                </v-layout>
            </v-container>
        </v-content>
        <!-- Content-->
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            dialog: false,
            drawer: null,
            items: [
                {icon: 'home', text: 'Home', url: '/'},
                {icon: 'face', text: 'Users', url: 'users'},
                {icon: 'build', text: 'Users API', url: 'users-api'}
            ],
            options: [
                {icon: 'perm_identity', title: 'Profile', url: 'profile'}
            ],
            csrf: window.Laravel.csrfToken
        }),
        props: {
            source: String
        },
        methods: {
            logout() {
                $('#logout-form').submit();
            }
        }
    }
</script>