<template>
    <!-- Routes -->
    <v-card>
        <!-- Title -->
        <v-card-title>
            <h2 class="headline">Routes</h2>

            <v-spacer></v-spacer>

            <v-text-field v-model="search" ppend-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        <!-- End Title -->

        <!-- Table Routes -->
        <v-data-table :headers="headers" :items="routes" :search="search">
            <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item.route !== '' ? props.item.route : '-' }}</td>
                <td class="text-xs-right">{{ props.item.controller !== '' ? props.item.controller : '-' }}</td>
                <td class="text-xs-right">{{ props.item.method !== '' ? props.item.method : '-' }}</td>
                <td class="text-xs-right">{{ props.item.action !== '' ? props.item.action : '-' }}</td>
                <td class="text-xs-right">{{ props.item.middleware !== '' ? props.item.middleware : '-' }}</td>
                <td class="text-xs-right">
                    {{ props.item.controllerMiddleware !== '' ? props.item.controllerMiddleware : '-' }}
                </td>
            </template>

            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
            </v-alert>
        </v-data-table>
        <!-- End Table Routes -->
    </v-card>
    <!-- End Routes -->
</template>

<script>
    export default {
        name: "Overview",
        data() {
            return {
                search: '',
                headers: [
                    {text: 'Route', align: 'right', sortable: true, value: 'route'},
                    {text: 'Controller', align: 'right', sortable: true, value: 'controller'},
                    {text: 'Method', align: 'right', sortable: true, value: 'method'},
                    {text: 'Action', align: 'right', sortable: true, value: 'action'},
                    {text: 'Middleware (Route)', align: 'right', sortable: true, value: 'middleware'},
                    {text: 'Middleware (Controller)', align: 'right', sortable: true, value: 'controllerMiddleware'}
                ],
                routes: []
            };
        },

        created() {
            this.getRoutes();
        },

        methods: {
            getRoutes() {
                axios.get('/api/get-routes')
                    .then(response => {
                        this.routes = response.data;
                    });
            }
        }
    }
</script>