<template>
    <!-- Profile -->
    <v-layout justify-center row>
        <v-flex xs6>
            <v-card id="profile-page">
                <!-- Header -->
                <v-card-title>
                    <h2 class="headline">Profile</h2>
                </v-card-title>
                <!-- End Header -->

                <!-- Tabs -->
                <v-tabs fixed-tabs v-model="active" color="white" dark slider-color="blue">
                    <v-tab href="#tab-1" ripple>Profile</v-tab>
                    <v-tab href="#tab-2" ripple>Change Password</v-tab>

                    <!-- Profile Tab -->
                    <v-tab-item :value="'tab-1'" :key="1">
                        <v-card flat>
                            <v-layout justify-center row>
                                <v-flex md8>
                                    <v-card-text>
                                        <v-form v-model="valid">
                                            <v-text-field v-model="fields.name" :counter="191" label="Name"
                                                          required></v-text-field>
                                        </v-form>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>

                                        <v-btn color="blue darken-1" flat :disabled="!valid" @click="submit">
                                            Update
                                        </v-btn>
                                    </v-card-actions>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-tab-item>
                    <!-- End Profile Tab -->

                    <!-- Change Password Tab -->
                    <v-tab-item :value="'tab-2'" :key="2">
                        <v-card flat>
                            <v-layout justify-center row>
                                <v-flex md8>
                                    <v-card-text>
                                        <v-form ref="form" v-model="valid2">
                                            <v-flex md12>
                                                <v-text-field
                                                        v-model="fields.password"
                                                        :append-icon="show1 ? 'visibility_off' : 'visibility'"
                                                        :rules="passwordRules"
                                                        :type="show1 ? 'text' : 'password'"
                                                        name="password"
                                                        label="Password"
                                                        hint="At least 6 characters"
                                                        counter
                                                        @click:append="show1 = !show1"
                                                        required
                                                ></v-text-field>
                                            </v-flex>


                                            <v-flex md12>
                                                <v-text-field
                                                        v-model="fields.confirmPassword"
                                                        :append-icon="show2 ? 'visibility_off' : 'visibility'"
                                                        :rules="passwordConfirmationRules"
                                                        :type="show2 ? 'text' : 'password'"
                                                        name="confirm-password"
                                                        label="Confirm Password"
                                                        hint="At least 6 characters"
                                                        counter
                                                        @click:append="show2 = !show2"
                                                        required
                                                ></v-text-field>
                                            </v-flex>
                                        </v-form>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>

                                        <v-btn color="blue darken-1" flat :disabled="!valid" @click="submit">
                                            Save
                                        </v-btn>
                                    </v-card-actions>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-tab-item>
                    <!-- End Change Password Tab -->
                </v-tabs>
                <!-- End Tabs -->
            </v-card>
        </v-flex>
    </v-layout>
    <!-- End Profile -->
</template>

<script>
    export default {
        name: "Profile",
        data() {
            return {
                user: null,
                active: null,
                fields: {
                    name: '',
                    password: '',
                    confirmPassword: ''
                },
                valid: true,
                valid2: true,
                show1: false,
                show2: false,
                passwordRules: [
                    v => v.length >= 6 || 'Min 6 characters'
                ],
                passwordConfirmationRules: [
                    v => v.length >= 6 || 'Min 6 characters',
                    v => v == this.fields.password || ('The passwords you entered doesn\'t match')
                ],
                errors: []
            };
        },
        methods: {
            getUser() {
                axios.get('/api/get-user')
                    .then(response => {
                        this.user = response.data;
                        this.fields.name = this.user.name;
                    });
            },

            submit() {
                this.errors = {};
                axios.patch('/profile/' + this.user.base64ID, this.fields).then(response => {
                    this.$toasted.show(response.data.message, {
                        type: 'success',
                        theme: "primary",
                        position: "top-right",
                        icon: 'check_circle',
                        duration: 2500
                    });
                    this.$refs.form.reset();
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data || {};
                    }
                });
            }
        },
        created() {
            this.getUser();
        }
    }
</script>

<style scoped>

</style>