<template>
    <!-- Users -->
    <v-card>
        <!-- Header -->
        <v-card-title>
            <h2 class="headline">Users API</h2>

            <v-spacer></v-spacer>

            <v-text-field v-model="search" ppend-icon="search" label="Search" single-line hide-details></v-text-field>

            <!-- Edit User -->
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn slot="activator" color="primary" dark class="mb-2">New</v-btn>

                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex md12>
                                    <v-form ref="form" v-model="valid">
                                        <v-select v-model="id" :items="unusedUsers" item-text="name" item-value="id"
                                                  label="User"></v-select>
                                    </v-form>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="normal" flat @click="close">Cancel</v-btn>

                        <v-btn color="blue darken-1" flat :disabled="!valid" @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <!-- End Edit User -->
        </v-card-title>
        <!-- End Header -->

        <!-- Table Users -->
        <v-data-table :headers="headers" :items="users" :search="search">
            <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item.id }}</td>
                <td class="text-xs-right">{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.created_at }}</td>
                <td class="justify-center layout px-0">
                    <v-icon small @click="itemToDelete(props.item)">delete</v-icon>
                </td>
            </template>

            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
            </v-alert>
        </v-data-table>
        <!-- End Table Users -->

        <!-- Delete User -->
        <v-dialog v-model="deleteDialog" width="500">
            <v-card>
                <v-card-title class="headline" primary-title>
                    <h2 class="headline">Deleting {{ deletedItem.name }}</h2>
                </v-card-title>

                <v-card-text>
                    You are about to delete <b class="primary--text">{{ deletedItem.name }}</b>. Deleting this user is
                    permanent and you
                    cannot undo this action.

                    <br>
                    <br>

                    Are you sure you want to delete the user <b class="primary--text">{{ deletedItem.name }}</b>?
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="normal" flat @click="deleteDialog = !deleteDialog">Cancel</v-btn>
                    <v-btn color="error" flat @click="deleteItem(deletedItem)">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- End Delete User -->
    </v-card>
    <!-- End Users -->
</template>

<script>
    export default {
        name: "UsersAPI",
        data() {
            return {
                search: '',
                headers: [
                    {text: '#', align: 'right', sortable: false, value: 'id'},
                    {text: 'Name', align: 'right', sortable: true, value: 'name'},
                    {text: 'Created At', align: 'right', sortable: true, value: 'created_at'},
                    {text: 'Actions', align: 'right', sortable: false, value: ''}
                ],
                users: [],
                unusedUsers: [],
                id: 0,
                dialog: false,
                deleteDialog: false,
                editedIndex: -1,
                defaultItem: {
                    name: '',
                    email: ''
                },
                deletedItem: {
                    name: '',
                    email: ''
                },
                valid: true
            };
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New User API' : '';
            }
        },

        watch: {
            dialog(val) {
                val || this.close();
            }
        },

        created() {
            this.getUsers();
            this.getUnusedUsers();
        },

        methods: {
            getUsers() {
                axios.get('/api/get-users-api')
                    .then(response => {
                        this.users = response.data;
                    });
            },

            getUnusedUsers() {
                axios.get('/api/get-unused-users')
                    .then(response => {
                        this.unusedUsers = response.data;
                    });
            },

            save() {
                axios.post('/users-api', {id: this.id})
                    .then(response => {
                        this.toast(response.data.message);
                        this.users.push(response.data.user);
                        this.close();
                    });
            },

            itemToDelete(item) {
                this.deleteDialog = true;
                this.deletedItem = Object.assign({}, item);
            },

            deleteItem(item) {
                axios.delete('/users-api/' + item.id, item)
                    .then(response => {
                        this.toast(response.data.message);
                        this.closeDelete();
                    });
            },

            toast(message) {
                this.$toasted.show(message, {
                    type: 'success',
                    theme: "primary",
                    position: "top-right",
                    icon: 'check_circle',
                    duration: 2500
                });
                this.getUnusedUsers();
            },

            close() {
                this.dialog = false;
            },

            closeDelete() {
                this.deleteDialog = false;
                this.users.splice(this.users.indexOf(this.deletedItem), 1);
            }
        }
    }
</script>