<template>
    <!-- Users -->
    <v-card>
        <!-- Header -->
        <v-card-title>
            <h2 class="headline">Users</h2>

            <v-spacer></v-spacer>

            <v-text-field v-model="search" ppend-icon="search" label="Search" single-line hide-details></v-text-field>

            <!-- Edit User -->
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn slot="activator" color="primary" dark class="mb-2">New</v-btn>

                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex md12>
                                    <v-form ref="form" v-model="valid">
                                        <v-flex md12>
                                            <v-text-field v-model="editedItem.name" :rules="nameRules" :counter="191"
                                                          label="Name" required></v-text-field>

                                            <form-error v-if="errors.name" :valid="valid"
                                                        :errors="errors.name"></form-error>
                                        </v-flex>

                                        <v-flex md12>
                                            <v-text-field v-model="editedItem.email" :rules="emailRules" label="E-mail"
                                                          @keyup="clearErrors" required></v-text-field>

                                            <form-error v-if="errors.email" :valid="valid"
                                                        :errors="errors.email"></form-error>
                                        </v-flex>
                                    </v-form>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="normal" flat @click="close">Cancel</v-btn>

                        <v-btn color="blue darken-1" flat :disabled="!valid || hasErrors" @click="save">
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <!-- End Edit User -->
        </v-card-title>
        <!-- End Header -->

        <!-- Table Users -->
        <v-data-table :headers="headers" :items="users" :search="search">
            <template slot="items" slot-scope="props">
                <td class="text-xs-right">{{ props.item.id }}</td>
                <td class="text-xs-right">{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.email }}</td>
                <td class="text-xs-right">{{ props.item.created_at }}</td>
                <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>

                    <v-icon small @click="itemToDelete(props.item)">delete</v-icon>
                </td>
            </template>

            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
            </v-alert>
        </v-data-table>
        <!-- End Table Users -->

        <!-- Delete User -->
        <v-dialog v-model="deleteDialog" width="500">
            <v-card>
                <v-card-title class="headline" primary-title>
                    <h2 class="headline">Deleting {{ deletedItem.name }}</h2>
                </v-card-title>

                <v-card-text>
                    You are about to delete <b class="primary--text">{{ deletedItem.name }}</b>. Deleting this user is
                    permanent and you cannot undo this action.

                    <br>
                    <br>

                    Are you sure you want to delete the user <b class="primary--text">{{ deletedItem.name }}</b>?
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="normal" flat @click="deleteDialog = !deleteDialog">Cancel</v-btn>
                    <v-btn color="error" flat @click="deleteItem(deletedItem)">Delete</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- End Delete User -->
    </v-card>
    <!-- End Users -->
</template>

<script>
    export default {
        name: "Users",
        data() {
            return {
                search: '',
                headers: [
                    {text: '#', align: 'right', sortable: false, value: 'id'},
                    {text: 'Name', align: 'right', sortable: true, value: 'name'},
                    {text: 'E-mail', align: 'right', sortable: true, value: 'email'},
                    {text: 'Created At', align: 'right', sortable: true, value: 'created_at'},
                    {text: 'Actions', align: 'right', sortable: false, value: ''}
                ],
                users: [],
                dialog: false,
                deleteDialog: false,
                editedIndex: -1,
                defaultItem: {
                    name: '',
                    email: ''
                },
                editedItem: {
                    name: '',
                    email: ''
                },
                deletedItem: {
                    name: '',
                    email: ''
                },
                valid: true,
                hasErrors: false,
                nameRules: [
                    v => v.length <= 191 || 'Name must be less than 191 characters'
                ],
                emailRules: [
                    v => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'E-mail must be valid'
                ],
                errors: []
            };
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New User' : 'Edit User';
            }
        },

        watch: {
            dialog(val) {
                val || this.close();
            }
        },

        created() {
            this.getUsers();
        },

        methods: {
            getUsers() {
                axios.get('/api/get-users')
                    .then(response => {
                        this.users = response.data;
                    });
            },

            editItem(item) {
                this.editedIndex = this.users.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },

            save() {
                if (this.editedIndex > -1) {
                    if (this.users[this.editedIndex].email !== this.editedItem.email) {
                        this.editedItem.emailChanged = true;
                    }

                    axios.put('/users/' + this.editedItem.id, this.editedItem)
                        .then(response => {
                            this.error = [];
                            this.toast(response.data.message);
                            Object.assign(this.users[this.editedIndex], response.data.user);
                            this.close();
                        }).catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data || {};
                            this.hasErrors = true;
                        }
                    });
                } else {
                    axios.post('/users', this.editedItem)
                        .then(response => {
                            this.error = [];
                            this.toast(response.data.message);
                            this.users.push(response.data.user);
                            this.close();
                        }).catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data || {};
                            this.hasErrors = true;
                        }
                    });
                }
            },

            itemToDelete(item) {
                this.deleteDialog = true;
                this.deletedItem = Object.assign({}, item);
            },

            deleteItem(item) {
                axios.delete('/users/' + item.id, item)
                    .then(response => {
                        this.toast(response.data.message);
                        this.closeDelete();
                    });
            },

            clearErrors() {
                if (this.hasErrors) {
                    this.errors = [];
                    this.hasErrors = false
                }
            },

            toast(message) {
                this.$toasted.show(message, {
                    type: 'success',
                    theme: "primary",
                    position: "top-right",
                    icon: 'check_circle',
                    duration: 2500
                });
            },

            close() {
                this.dialog = false;
                this.hasErrors = false;
                this.errors = [];
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
                this.$refs.form.reset();
            },

            closeDelete() {
                this.deleteDialog = false;
                this.users.splice(this.users.indexOf(this.deletedItem), 1);
            }
        }
    }
</script>