/* Login */
#app.login {
  height: 100vh;

  @extend .login-background;
  @extend .center-center;

  /* Body */
  .container {
    /* Blur Container */
    .blur-container {
      position: relative;

      /* Blur */
      .blur {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        width: 50%;

        margin: 0 auto;

        @extend .login-background;

        background-attachment: fixed;

        filter: blur(5px);
      }

      /* Panel */
      .panel {
        width: 50%;

        margin: 0 auto;
        padding-top: 10px;

        filter: opacity(92%);

        /* Panel Header */
        .panel-heading {
          margin: 0 15px 10px 0;
          padding: 0 0 0 15px;

          border-bottom: none;
          border-radius: 0;
          border-left: 5px solid $text-color;

          color: $text-color;

          font-size: 24px;
          font-weight: 300;
        }

        /* Panel Body */
        .panel-body {
          padding-top: 0;

          /* Form */
          form {
            padding-top: 15px;

            border-top: 1px solid $separator;

            /* Checkbox */
            .checkbox {
              label {
                color: $links;

                font-size: 14px;
                font-weight: 300;

                line-height: 16px;
              }
            }

            a {
              padding: 0;

              color: $links;

              font-size: 14px;
              font-style: italic;
              font-weight: 300;

              text-decoration: underline;
            }

            /* Button */
            button.btn {
              padding: 6px 30px;
            }
          }
        }
      }
    }
  }
}
